.popup-mobile-nav-menu__link {

  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  text-decoration: none;
  color:white;
  margin: 32px 0 0 0;

}


