@import url('./__date/article__date.css');
@import url('./__description/article__description.css');
@import url('./__image/article__image.css');
@import url('./__save-icon/article__save-icon.css');
@import url('./__delete-icon/article__delete-icon.css');
@import url('./__delete-icon-image/article__delete-icon-image.css');
@import url('./__tag/article__tag.css');
@import url('./__source/article__source.css');
@import url('./__text/article__text.css');
@import url('./__title/article__title.css');



.article {
  width: 400px;
  border-radius: 16px;
  height: 576px;
  margin: 0;

 }

@media screen and (max-width:839px) {
  .article {
    width: 224px;
    height: 420px;


   }
}

@media screen and (max-width:450px) {
  .article {
    width: 288px;
    height: 420px;


   }
}