@import url('./__nav-menu/footer__nav-menu.css');
@import url('./__link/footer__link.css');
@import url('./__link-image/footer__link-image.css');
@import url('./__copyright/footer__copyright.css');
@import url('./__link-container-item/footer__link-container-item.css');
@import url('./__link-container/footer__link-container.css');
@import url('./__link-image-container-item/footer__link-image-container-item.css');
@import url('./__link-image-container/footer__link-image-container.css');

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    min-height: 80px;
}


@media screen and (max-width:868px) {
  .footer {
        min-height: 64px;
}

}

@media screen and (max-width:710px) {
  .footer {
    flex-direction: column;
    justify-content: center;
    align-items: center;

  }
}
