

@media screen and (max-width:660px) {
.popup-mobile-nav-menu__content {
    width: 100%;
    align-self: flex-start;
    top: 0;
    background-color: #1A1B22;
    height: 286px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 16px 24px;
    border-radius: 16px;
    position: relative;
    color: white;
    box-sizing: border-box;
}

}