.header__nav-menu {

  margin-right: 104px;
  box-sizing: content-box;
  display: flex;
  align-items: baseline;
  align-self: flex-end;
}


@media screen and (max-width:830px) {

  .header__nav-menu {
    margin-right: 40px;
  }
}


@media screen and (max-width:660px) {

  .header__nav-menu {
    display: none;
  }
}